@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/screens";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  background-color: rgb(32, 30, 30);
  font-family: 'Roboto Condensed', sans-serif;
}

table{
  max-width: 50rem;
  margin: 2rem auto;
  padding: 1rem;
  border-spacing: .5rem;
}

 thead, td{
  border: 2px solid grey;
}
td{
  text-align: center;
}
/* @media screen and (min-width: 340px) {
  
  .second-tr{
    display: none;
}
}
@media screen and (min-width: 760px) {
  .first-tr{
    display: ;
  }
  .second-tr{
    display: flex;
}
} */
